.projects-container>.container>p {
    font-size: 42px;
    font-weight: 600;
    padding-top: 20px;
    color: var(--text-primary);
    text-align: center;
}

.projects-container .project-card {
    background-color: var(--card);
    color: var(--text-secondary);
    box-shadow: 0px 4px 24px var(--shadow);
    border-radius: 16px;
    padding: 18px 36px;
    transition: all 0.3s ease-in-out;

}

.projects-container .project-card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.projects-container .name {
    color: var(--text-primary);
    font-size: 20px;
    font-weight: 600;
}

.projects-container .skill {
    font-size: 12px;
    font-weight: 400;
    color: var(--primary);
    background-color: var(--card);
    padding: 2px 8px;
    border-radius: 10px;
    margin: 0 5px;
}

.projects-container button {
    margin: 7px;
}

.projects-container .code {
    background-color: var(--bg);
    color: var(--text-secondary);
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
}

.projects-container .view-app {
    background-color: var(--primary);
    color: var(--text-primary);
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
}