@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

nav {
    background-color: var(--card);
    height: 80px;
    font-size: 1rem !important;
    font-weight: 700;
    font-family: 'Space Grotesk', sans-serif;
}
nav .container{
    padding: 0;
}

.navbar-nav, nav .btn-container-git{
    background-color: var(--card);
}

.nav-link {
    color: var(--text-primary);
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
    margin: 0px 3px;
}

.nav-link:hover {
    color: var(--primary);
}

.navbar-toggler-icon{
    color: var(--text-primary);
}

.active{
    color: var(--primary) !important;
}

.btn-container-git button {
    color: var(--primary);
    border: 1.8px solid var(--primary);
    border-radius: 20px;
    padding: 7px 20px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    height: 70%;
    transition: all 0.6s ease-in-out;
}

.btn-container-git button:hover {
    background-color: var(--primary);
    color: var(--text-primary);
}