.works-container>p {
    font-size: 42px;
    font-weight: 600;
    padding-top: 20px;
    color: var(--text-primary);
    text-align: center;
}

.works-container .works-inner-container p{
    font-size: 18px;
    font-weight: 600;
    color: var(--text-primary);
}

.works-container .works-box{
    background-color: transparent;
    color: var(--text-secondary);
    border: 0.1px solid var(--primary);
    border-radius: 10px;
    box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
    padding: 12px 16px;
    transition: all 0.3s ease-in-out;
}

.works-container .works-box .btn{
    background-color: var(--primary);
    color: var(--text-primary);
    font-weight: 600;
}

.works-container .card-text{
    font-size: medium !important;
    color: var(--text-secondary) !important;
    font-weight: 500 !important;
}