.certification-container>.container>p {
    font-size: 42px;
    font-weight: 600;
    padding-top: 20px;
    color: var(--text-primary);
    text-align: center;
}

.certificate-container {
    border: 1px solid var(--primary);
    color: var(--text-secondary);
    box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
    border-radius: 16px;
    padding: 18px 36px;
}

.certification-container .title{
    font-size: 18px;
    font-weight: 600;
}