  @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

:root {
    --primary: #854CE6;
    --background-1: #222A35;
    --button: #854CE6;
    --background-2: #19212C;
    --text: #C8CFD8;
    --text-1: #F2F5F7;
    --text-2: #626970;
    --text-3: #575C66;
    --footer-background: #00012B;

    --bg:#1C1C27;
    --bg-light: #1C1E27;
    --text-primary:#F2F3F4;
    --text-secondary:#b1b2b3;
    --card:#171721;
    --card-light: #191924;
    --white:#FFFFFF;
    --black:#000000;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--bg);
}